.clear-button-container {
    position: relative;
}
.clear-button-container .hidden {
    display: none;
}

.clear-button-container input {
    width: 100%;
    height: 100%;
    padding-right: 18px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.clear-button {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    height: 100%;
    width: 20px;
    margin: 0;
    padding: 5px 3px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background: transparent;
    border: none;
}

.clear-button > div {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #a9a9a9;
    border-radius: 10px;
}

.clear-button i {
    display: block;
    margin: 0;
    font-style: normal;
    color: white;
}

